body{
    font-family: 'Poppins', sans-serif;
}
section{
    height: 600px;
}
h2{
    color: palevioletred;
    font-size: 43px;
}
.down{
    margin-top: 100px;
}
.first-site{
    width: 45%;
    float: left;
    margin-left: 40px;
}
.head-site{
    margin-left: 2%;
}
.right{
    margin-left: 35px;
}
A{
    color: papayawhip;
    text-decoration: none;
    border: 1px solid palevioletred;
    border-radius: 5px;
    background-image: linear-gradient(palevioletred);
    background-color: palevioletred;
    padding: 10px;
}
img{
    width: 100%;
}
.mid-site{

}
.last-site{
    height: 600px;
    padding-top: 50px;
    display: inline-block;
}
.pic{
    width: 32%;
    display: inline-block;
}
#text{
    text-align: center;
}
.ending-part{
    text-align: center;
}
#gmail{
    text-align: center;
    border-radius: 5px;
    border: 1px solid palevioletred;
    margin: 100px 100px;
    background-color: palevioletred;
}
footer{
    text-align: center;
}
.mid{
    margin-top: 100px;
    padding-left: 100px;
}
video{
    width: 50%;
    height: 100px;
}
td{
    border: 1px solid gray;
    padding: 0 30px;
}
th{
    border: 1px solid gray;
    border-collapse: collapse;
}
table{
    border-collapse: collapse;
    padding:20px 10px;
}
.table-creat{
    position: relative;
}
button,a:hover{
    color: grey;
    font-size: 20px;
}