body{
    font-family: 'Poppins', sans-serif;
}
section{
    height: 600px;
}
h2{
    color: palevioletred;
    font-size: 50px;
}
.first-site{
    width: 40%;
    float: left;
    margin-left: 40px;
}
.head-site{
    margin-left: 2%;
}
.right{
    margin-left: 35px%;
}
A{
    color: papayawhip;
    text-decoration: none;
    border: 1px solid palevioletred;
    border-radius: 5px;
    background-image: linear-gradient(palevioletred);
    background-color: palevioletred;
    padding: 10px;
}
img{
    width: 100%;
}
.mid-site{

}
.last-site{
    height: 600px;
    padding-top: 50px;
    display: inline-block;
}
.pic{
    width: 30%;
    display: inline;
}
#text{
    text-align: center;
}